
.button {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 20;
    -fx-max-height: 20;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #2E2E30;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


#back {
    -fx-background-image: url("../../../assets/icons/skip.png");
    -fx-background-size: 15px;

}

#play {
    -fx-background-image: url("../../../assets/icons/play.png");
    -fx-background-size: 15px;

}

#stop {
    -fx-background-image: url("../../../assets/icons/stop.png");
    -fx-background-size: 15px;

}

#skip {
    -fx-background-image: url("../../../assets/icons/end.png");
    -fx-background-size: 15px;

}

#shuffle {
    -fx-background-image: url("../../../assets/icons/shuffle.png");
    -fx-background-size: 15px;

}

#repeat {
    -fx-background-image: url("../../../assets/icons/repeat.png");
    -fx-background-size: 15px;

}
.button:hover {
    -fx-background-color: #717171;

}