.button {
    -fx-min-width: 40;
    -fx-max-width: 40;
    -fx-min-height: 20;
    -fx-max-height: 20;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#list {
    -fx-background-image: url("../../../assets/icons/list.png");
    -fx-background-size: 15px;
}

#player {
    -fx-background-image: url("../../../assets/icons/player.png");
    -fx-background-size: 15px;
}

#graph {
    -fx-background-image: url("../../../assets/icons/graph.png");
    -fx-background-size: 15px;
}

.button:hover {
    -fx-background-color: #c5c5c5;

}