.button {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 20;
    -fx-max-height: 20;
    -fx-border-radius: 0 0 0 0;
    -fx-text-fill: #fff;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #2E2E30;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 8px;
}

#switch-button {
    -fx-background-image: url("../../../assets/icons/folder.png");
    -fx-background-size: 15px;

}

.button:hover {
    -fx-background-color: #717171;

}